{% extends "base.html" %}
{% block content %}
	<form action="" method="post" name="task">
      {{ form.hidden_tag() }}
      <legend>New Task</legend>
      <table>
          <tr valign=top>
              <td>{{ render_field(form.name) }}</td>
              <td>{{ render_field(form.blocks) }}</td>
              <td>{{ render_field(form.blocked_by) }}</td>
          </tr>
          <tr>
              <td><input type="submit" value="Create Task"></td>
              <td></td>
              <td></td>
          </tr>
      </table>
	</form>

     <legend>Open Tasks</legend>
	{% for task in tasks.items %}
		{% include 'task_summary.html' %}
	{% endfor %}
    {% if tasks.has_prev or tasks.has_next %}
        {% if tasks.has_prev %}<a href="{{ url_for('index', page=tasks.prev_num) }}">&lt;&lt;</a>{% else %}&lt;&lt;{% endif %} | 
        {% if tasks.has_next %}<a href="{{ url_for('index', page=tasks.next_num) }}">&gt;&gt;</a>{% else %}&gt;&gt;{% endif %}
    {% endif %}
{% endblock %}
